Django>=4.1,<5.0
djangorestframework>=3.14,<4.0
psycopg2-binary>=2.9,<3.0
django-elasticsearch-dsl>=7.2,<8.0
elasticsearch>=7.0,<8.0
django-filter>=23.1,<24.0
djangorestframework-simplejwt>=5.2,<6.0
transformers>=4.31,<5.0
openai>=0.27,<1.0
gunicorn>=20.1,<21.0
django-cors-headers>=3.13,<4.0
python-dotenv>=1.0,<2.0
django-webpack-loader>=1.7,<2.0
fastapi==0.115.0
uvicorn==0.31.0
pydantic==2.9.2
numpy==1.26.4
langchain==0.3.1
chromadb==0.5.11
langchain-core
langchain-community
langchain-chroma
gpt4all
beautifulsoup4
Authlib