fastapi==0.115.0
uvicorn==0.31.0
pydantic==2.9.2
numpy==1.26.4
langchain==0.3.1
chromadb==0.5.11
langchain-core
langchain-community
langchain-chroma
gpt4all
beautifulsoup4
fastapi
uvicorn[standard]
pypandoc
striprtf
odfpy
PyMuPDF
pix2text
PyPDF2
pytest
sentence-transformers
tqdm
python-multipart

