fastapi
uvicorn
pydantic
numpy
langchain
chromadb
langchain-core
langchain-community
langchain-chroma
gpt4all
beautifulsoup4
fastapi
uvicorn[standard]
pypandoc
striprtf
odfpy
PyMuPDF
pix2text
PyPDF2
pytest
sentence-transformers
tqdm
python-multipart
neo4j
ollama
nltk
torch
onnxruntime-gpu
urllib3<2
aiofiles